<?xml version="1.0" encoding="UTF-8"?>
<launch>
 <arg name="model" default="$(find slam_simulations)/urdf/differential_bot.xacro"/>

     <!--xacro to urdf then sending it-->
     <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <!-- Send fake joint values-->
 <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
 </node>
 <!-- <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  Send robot states to tf
 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/> -->

<node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />
 
 <!--launch rviz-->
 <node name="rviz" pkg="rviz" type="rviz" respawn="false"/>

</launch>
